body { 
    font-family: "Open sans", Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-weight: 100;
    font-size: 90%;
/*    background: #efefef;*/
}

.main-content { 
    margin-top: 20px;
}

.no-search { 
    margin-top: 20%;
}

.is-search { 
    margin-top: 5%;
    -webkit-transition:margin-top 1s; /* Safari */
    transition: margin-top 1s;
}
.search-box { 
    width: 500px; 
    margin-left: auto;
    margin-right: auto;
    color: red;
  
}

.search-left { 
    width: 80%;
    float: left;
}

.search-results {
    width: 600px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
  
/*    border: solid 1px #eee; */
    min-height: 400px;
    margin-bottom: 200px;
}

.search-results .avatar { 
    width: 128px;
}

.media {
    
/*    padding: 20px;*/
/*    font-size: 90%;*/
}

.media .name { 
    font-weight: 700;
    font-size: 120%;
    
}

.media .muni, .media .party { 
    color: gray;
}

.media .promise { 
    margin-top: 10px;
}

.media-title .main-title { 
    font-weight: 700;

}

.cross-head { 
    margin-top: 30px;
    font-weight: 700;
    margin-bottom: 10px;
}

.media .meta { 
    font-size: 90%;
    line-height: 200%;
}

.media .meta .header { 
    font-weight: 700;
}


.browse-list { 
    width:1200px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
}

.browse-list table { 
    font-size:90%;
}

.listBrowse { 
    margin-bottom: 100px;
    
}

select.form-control-xs { 
    
    padding: 2px !important;
    width: auto !important;
    margin: 0 !important;
    margin-right: 0 !important;
    font-weight: 700;
}

.scope { 
    width: auto;
}

.ui-switcher { 
    background: #3f3f3f; 
    width: auto; 
    float: left;
    position: fixed; 
        top: 0; 
    left: 0;
    padding: 10px;
       
    color: gray;
    
    
}
.ui-switcher a { 
    color: lightgray;
    text-decoration: none;
    font-weight: 700;
     text-transform: uppercase;
    
}

.ui-switcher a:hover {
    color:#fff;
}

.notes { 
    max-width: 500px;
    font-size: 90%;
    margin-bottom: 20px;
    background: #eee;
    padding: 10px;
/*    font-style: italic;*/
    
}


