
 

   <div class="header">
    <div class="header-inner">
        {{listSection}}
    </div>
    <div class="header-inner header-inner-right">
     <div class="header-inner-right-1">
     
    
    
     <input type="text" class="form-control form-control-sm" placeholder="Type to filter" ng-model="listFilter">
        <i class="fa fa-times-circle clear-filter" aria-hidden="true" ng-if="listFilter" ng-click="clearFilter()"></i>
      
         
      </div>
      <div class="header-inner-right-2">
       <a href="#!/add/{{listSection}}" ng-if="listSection=='municipalities'"><i class="fa fa-plus-circle" aria-hidden="true"></i> add municipality</a>
       <a href="#!/add/{{listSection}}" ng-if="listSection=='mayors'"><i class="fa fa-plus-circle" aria-hidden="true"></i> add mayor</a>
        <a href="#!/add/{{listSection}}" ng-if="listSection=='parties'"><i class="fa fa-plus-circle" aria-hidden="true"></i> add party</a>
        <a href="#!/add/{{listSection}}" ng-if="listSection=='categories'"><i class="fa fa-plus-circle" aria-hidden="true"></i> add category</a>
        <a href="#!/add/{{listSection}}" ng-if="listSection=='promises'"><i class="fa fa-plus-circle" aria-hidden="true"></i> add promise</a>
        </div>
        </div>
    <div class="clear"></div>
</div>

<div class="list-pagination">
<!--       <a href="#!/list/{{listSection}}/{{nextStart}}">Next ({{nextStart}})</a>-->
       <nav aria-label="...">
  <ul class="pagination pagination-xs">
    <li class="page-item" ng-class="prev ? 'enabled' : 'disabled'">
      <a class="page-link" href="#!/list/{{listSection}}/{{prevStart}}" tabindex="-1">Previous</a>
    </li>
<!--
    <li class="page-item"><a class="page-link" href="#">1</a></li>
    <li class="page-item default">
      <a class="page-link" href="#">2 <span class="sr-only">(current)</span></a>
    </li>
    <li class="page-item"><a class="page-link" href="#">3</a></li>
-->
    <li class="page-item">
      <a class="page-link" href="#!/list/{{listSection}}/{{nextStart}}">Next</a>
    </li>
  </ul>
</nav>
        
    </div>

<table class="table table-striped" ng-if="listSection=='municipalities'">
  <thead class="thead thead-custom">

    <tr>
     
      <th class="sortable" ng-click="listOrder('municipality')">Municipality</th>
      <th class="sortable" ng-click="listOrder('code')">Code</th>
      <th class="sortable" ng-click="listOrder('province')">Province</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="item in municipalities  | filter: listFilter | orderBy:sortCol">
        <td>{{item.municipality}}</td>
        <td>{{item.code}}</td>
        <td>{{item.province}}</td>
        
         <td class="operations">
         <a ng-click="delete(item.id,listSection)" class="trash" >
             <i class="fa fa-trash-o" aria-hidden="true"></i>
             </a> &nbsp; 
             
        <a href="" class="edit">
            <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
             </a>
             </td>
        
    </tr>
    
  </tbody>
</table>


<!-- parties -->

<table class="table table-striped" ng-if="listSection=='parties'">
  <thead class="thead-custom">

    <tr>
     
      <th class="sortable" ng-click="listOrder('name')">Name</th>
      <th class="sortable" ng-click="listOrder('abbreviation')">Abbreviation</th>
<!--      <th >Logo</th>-->
<!--      <th>Logo</th>-->
   <th></th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="item in parties  | filter: listFilter | orderBy:sortCol">
        <td>{{item.name}}</td>
        <td>{{item.abbreviation}}</td>
<!--        <td><img ng-src="{{item.logo}}" class="list-logo-preview"></td>-->
<!--        <td>{{item.logo}}</td>-->
       
        <td class="operations">
         <a ng-click="delete(item.id,listSection)" class="trash" >
             <i class="fa fa-trash-o" aria-hidden="true"></i>
             </a> &nbsp; 
             
       <a href="#!/edit/{{listSection}}/{{item.id}}" class="edit">
            <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
             </a>
             </td>
        
    </tr>
    
  </tbody>
</table>








<!-- mayors -->
<table class="table table-striped header-fixed" ng-if="listSection=='mayors'">
  <thead class="thead-custom">

    <tr>
     
        <th class="sortable" ng-click="listOrder('name')">Name</th>
        <th class="sortable" ng-click="listOrder('municipality_name')">Municipality</th>
      <th class="sortable" ng-click="listOrder('party_name')">Party</th>
      <th class="sortable" ng-click="listOrder('promises')">Promises</th>
<!--      <th class="sortable" ng-click="listOrder('coalition')">Coalition</th>-->
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="item in mayors  | filter: listFilter | orderBy: sortCol">
        <td>{{item.name}}</td>
        <td>{{item.municipality_name}}</td>
        <td>{{item.party_name}}</td>
        <td>{{item.promises}}</td>
<!--         <td>{{item.coalition}}</td>-->
         <td class="operations">
         <a ng-click="delete(item.id,listSection)" class="trash" >
             <i class="fa fa-trash-o" aria-hidden="true"></i>
             </a> &nbsp; 
             
        <a href="#!/edit/{{listSection}}/{{item.id}}" class="edit">
            <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
             </a>
             </td>
        
    </tr>
    
  </tbody>
</table>



<!-- categories -->
<table class="table table-striped header-fixed" ng-if="listSection=='categories'">
  <thead class="thead-custom">

    <tr>
     
        <th class="sortable" ng-click="listOrder('name')">Category</th>

      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="item in categories  | filter: listFilter | orderBy:sortCol">
        <td>{{item.category}}</td>
        
         <td class="operations">
         <a ng-click="delete(item.id,listSection)" class="trash" >
             <i class="fa fa-trash-o" aria-hidden="true"></i>
             </a> &nbsp; 
             
        <a href="#!/edit/{{listSection}}/{{item.id}}" class="edit">
            <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
             </a>
             </td>
        
    </tr>
    
  </tbody>
</table>





<!-- promises -->
<table class="table table-striped header-fixed" ng-if="listSection=='promises'">
  <thead class="thead-custom">

    <tr>
     
        <th class="sortable" ng-click="listOrder('mayor_name')">
        Mayor &nbsp; 
<!--
        <i class="fa fa-caret-up" aria-hidden="true" ></i>
        <i class="fa fa-caret-down" aria-hidden="true" ></i>
-->
        </th>
        <th class="sortable" ng-click="listOrder('municipality_name')">Municipality</th>
        <th>Promise</th>
        <th class="sortable" ng-click="listOrder('category_name')">Category</th>
        <th class="sortable" ng-click="listOrder('date_made')">Date made</th>
        <th class="sortable" ng-click="listOrder('due_date')">Due date</th>
        <th class="sortable" ng-click="listOrder('tracked')">Tracked</th>
        <th class="sortable" ng-click="listOrder('status')">Status</th>

      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="item in data  | filter: listFilter | orderBy:sortCol">
        <td ng-click="filterList(item.mayor_name)" class="filterable"> {{item.mayor_name}}  </td>
        <td>{{item.municipality_name}}</td>
        <td>{{item.promise}}</td>
        <td>{{item.category_name}}</td>
        <td>{{item.date_made}}</td>
        <td>{{item.due_date}}</td>
        <td>{{item.tracked}}</td>
        <td>{{item.status}}</td>
        
         <td class="operations">
         <a ng-click="delete(item.id,listSection)" class="trash" >
             <i class="fa fa-trash-o" aria-hidden="true"></i>
             </a> &nbsp; 
             
        <a href="#!/edit/{{listSection}}/{{item.id}}" class="edit">
            <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
             </a>
             </td>
        
    </tr>
    
    
    
  </tbody>
</table>




