/*
.body-login { 

    font-family: "Open sans", Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 90%;
    background: #F1F1F1;

}
*/

body { 
    font-family: Roboto,  "Open sans", Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 85%;
    background: #FFF;
    font-weight: 300; 
    margin: 0;
}



a {
    color: #00A6BB;
    text-decoration: none;
}

a:hover { 
    color: #027c89;
     text-decoration: none;
}


/* Pages */

.page { 

/*    font-size: 90%;
    */
    line-height: 200%;
    padding: 10px;
    
}

.home { 
    margin-top: 150px;
}




/* Login styles */

.login-failed { 
    font-size: 80%; 
    color: #fff; 
    padding: 10px;
    background: #D80020;
    border-radius: 5px;
    margin-bottom: 20px;
}

.login-box { 
    width: 400px;
    margin-left: auto; 
    margin-right: auto;
    margin-top: 10%;
    text-align: center;
    background: #fff;
    padding: 20px 50px;
    border-radius: 5px;
    border: solid 1px #ddd;
    padding-top: 40px;
    -webkit-box-shadow: 3px 3px 15px -2px rgba(0,0,0,0.21);
-moz-box-shadow: 3px 3px 15px -2px rgba(0,0,0,0.21);
box-shadow: 3px 3px 15px -2px rgba(0,0,0,0.21);
    
}

#login-form label { 
    font-size: 80%;
    float: left;
    color: gray;
    
}

/* Container */

.container-fluid {
/*    padding: 0;*/
margin: 0;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
margin-top: 80px;
    
    

}



/* Menus */


.nav-back { 
    width: 100%;
    height: 50px;
    background: 
    
}

.navbar { 
    font-size: 90%;
}

.dropdown-menu {
    font-size: 100%;
}


a.nav-link { 
    color: #bbb!important;
}

a.nav-link:hover { 
    color: #fff !important;
    }

.navbar-brand { 
    font-size: 100%;
}

.clear {
    clear: both;
}

/* Lists */

th, td { 
    max-width: 300px;
}

.header { 
    text-transform: uppercase; 
    font-weight: 700; 
    padding-left: 10px;
    padding: 10px;
   margin-bottom: 10px !important;
}
.header-inner { 
    width: 50%;
    float: left;
    padding-top: 20px;
    
}

.header-inner-right { 
    padding-top: 5px;
    text-align: right;
    font-weight: 400;
    color: gray;
    font-size: 80%;
}
.header-inner-right .fa { 
    font-size: 130%;
}

.header-inner-right-1, .header-inner-right-2 { 
    width: 50%; 
    float: left;
    margin-left: 20%;
    
    
    
}

.clear-filter { 
    position: relative; 
    z-index: 300;
    top: -23px;
    left: -10px;
    font-size: 24px;
    color: black;
    display: inline-block;
}
.clear-filter:hover {
    cursor: pointer; 
    cursor: hand;
}

.fa-filter { 
    color: gray;
}

.filterable:hover { 
    color: #00AABE;
    cursor: pointer; 
    cursor: hand;
    
}

.header-inner-right-2 { 
    padding-top: 15px;
    width: 30%;
    margin-left: 0;
}

.thead-custom { 
    background: #00A6BB !important;
    color: #fff;
}
.operations { 

    text-align: right;
}

.operations .fa { 
    font-size: 130%;
}

.fa-trash-o { 
    margin-top: -2px;
    color: #00A6BB;
}

.fa-trash-o:hover { 
    color: crimson;
    cursor: pointer; 
    cursor: hand;
}
.operations a.edit:hover { 
/*    color: blue;*/
}

.sortable:hover  {
    cursor: s-resize;  
}

.sortable .fa { 
    font-size: 120%;
}

.confirm { 
    text-align: center;
    position: fixed; 
    top: 40%;
    color: #000;
    width: 300px;
    padding: 60px;
    background: #fff;
    border-radius: 5px;
    border: solid 1px lightgray;
    margin-left: 400px;
    margin-right: auto !important;
/*    opacity: 0;*/
    -webkit-box-shadow: 3px 3px 15px -2px rgba(0,0,0,0.21);
-moz-box-shadow: 3px 3px 15px -2px rgba(0,0,0,0.21);
box-shadow: 3px 3px 15px -2px rgba(0,0,0,0.21);
    z-index: 300;
}

.delete-buttons { 
    margin-top: 20px;
}

.list-pagination { 
/*    padding: 10px;*/
   
    width: auto;
   float: right;
    text-align: right;
    
}

.page-link { 
    padding: 5px 10px;
    font-weight: 400;
    font-size: 90%;
    color: #00AABE;
}
.page-link:hover { 
    color: #000;
}

.page-item .disabled a { 
    color: red;
}


/* Add */

.add-wrap .header { 
    margin-bottom: 100px;
}

.add-form-wrap { 
    max-width: 600px;
    padding-left: 10px;
    margin-bottom: 100px;
}

.form-group label { 
    font-weight: 600;
    font-size: 90%;
    color: gray;
}


img.logo-preview { 
    width: 100px;
    height: 100px;
    border: solid 1px #eee;
}

.logo-wrap { 
    margin-bottom: 10px;
    margin-top: 10px;
}
.list-logo-preview { 
    width 20px;
    height: 20px;
}

/* front */

.front-wrap { 
    width: 500px;
    margin-bottom: 500px;
}

.front-wrap label { 
    font-weight: 700;
}

.front-search {
    width: 100%; 
    background: #eee;
    padding: 30px;
    border-radius: 5px;
    margin-bottom: 40px;
}

.front-card { 
    padding: 10px;
    border: solid 1px #eee;
    margin-bottom: 10px;
     -webkit-box-shadow: 3px 3px 15px -2px rgba(0,0,0,0.21);
-moz-box-shadow: 3px 3px 15px -2px rgba(0,0,0,0.21);
box-shadow: 3px 3px 15px -2px rgba(0,0,0,0.21);
    z-index: 300;
}

.front-card .name { 
    font-size: 120%;
    font-weight: 700;
}

.front-left { 
    width: 150px; 
    
    float: left; 
    display: inline-block;
    
}

.front-right { 
    
    width: auto; 
    display: inline-block;
    
}

/* data picker */
.table-condensed { 
    font-size: 80%; 
}
.datepicker { 
    margin-top: 80px;
}

.form-text { 
    font-weight: 100;
    font-size: 90%;
    padding-left: 15px;
    padding-top: 10px;
    font-style: italic;
}



