<!--
<form name="myForm">
 
    Simple Search: &nbsp; <input type="radio" ng-model="view.name" value="simpleSearch" selected> &nbsp; 
    Browse List: &nbsp; <input type="radio" ng-model="view.name" value="browseList">
    

 </form>
-->

<!--<div class="simpleSearch" ng-if="view.name=='simpleSearch'">-->





<!--<div class="listBrowse"  ng-if="view.name=='browseList'">-->
   <div class="listBrowse"  >
    
    
  
    
    <div class="browse-list">
       
        
        <table class="table">
  <thead class="thead-dark">
    <tr>
    
      <th scope="col" ng-click="mayorFind=true">
          <span ng-if="!mayorFind">Mayor</span>
          <select class="form-control form-control-xs" ng-if="mayorFind" ng-model="mayorHeader" ng-change="sortHeader(mayorHeader,'mayor')">
            <option ng-repeat="item in mayors">{{item.name}}</option>
        </select>
          
          </th>
      <th scope="col">Municipality</th>
      <th scope="col" ng-click="partyFind=true">
          <span ng-if="!partyFind">Party</span>
        <select class="form-control form-control-xs" ng-if="partyFind" ng-model="partyHeader" ng-change="sortHeader(partyHeader,'party')">
            <option ng-repeat="item in parties">{{item.abbreviation}}</option>
        </select>
      </th>
      <th>Category</th>
      
      
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="item in promises | filter: browseFilter">
    
      <td>{{item.mayor_name}}</td>
      <td>{{item.municipality_name}}</td>
      <td>{{item.party_abbr}}</td>
      <td>{{item.category_name}}</td>
    </tr>
   
  </tbody>
</table>
    </div>
    
</div>

