<!--
<form name="myForm">
 
    Simple Search: &nbsp; <input type="radio" ng-model="view.name" value="simpleSearch" selected> &nbsp; 
    Browse List: &nbsp; <input type="radio" ng-model="view.name" value="browseList">
    

 </form>
-->

<!--<div class="simpleSearch" ng-if="view.name=='simpleSearch'">-->
<div class="simpleSearch">


<div ng-class="searchResult ? 'is-search' : 'no-search'">

  
       
<div class="search-box">
 <div class="row">
 <div class="search-left">
<angucomplete id="ex1"
              placeholder="Start typing to search for your mayor or municipality"
              pause="100"
              selectedobject="selectedRecord"
              localdata="search"
              searchfields="name"
              titlefield="name"
              minlength="1"
              inputclass="form-control form-control-small"/>
     </div>
             <div class="search-right">
              <button class="btn btn-sm btn-success disabled" ng-hide="selectedRecord">GO</button>
              <button class="btn btn-sm btn-success" ng-show="selectedRecord" ng-click="viewRecord()">GO</button>
     </div>
     
         

    </div>       
    </div>

</div>

<!-- Mayors -->
<div class="search-results" ng-if="searchResult && searchType=='mayor'">
    
      
   <div class="media">
  <img class="mr-3 avatar" ng-src="{{searchResultsTitle.mayor_photo}}" alt="Generic placeholder image">
  <div class="media-body">
    <div class="name">Promises by {{searchResultsTitle.mayor_name}}</div>
    <div class="muni">{{searchResultsTitle.municipality_name}}</div>
    <div class="party">{{searchResultsTitle.party_name}}</div>
    
    <div class="promises"  ng-repeat="item in searchResults">
    <div class="cross-head">Promise {{$index + 1}}</div>
    {{item.promise}}
    <div class="meta"><span class="header">Category: </span> {{item.category}} </div>
    <div class="meta"><span class="header">Promise date: </span> {{item.date_made}} </div>
    <div class="meta"><span class="header">Due date: </span> {{item.due_date}} </div>
    <div class="meta"><span class="header">Tracked: </span> {{item.tracked}} </div>
    <div class="meta" ng-if="item.tracked=='Yes'"><span class="header">Status: </span> {{item.status}} </div>
    
    </div>
    
    
  </div>
</div>
    
   
    
</div>


<!-- Municipalities -->
<div class="search-results" ng-if="searchResult && searchType=='municipality'">
    
      
   <div class="media">
<!--  <img class="mr-3 avatar" ng-src="{{searchResultsTitle.mayor_photo}}" >-->
  <div class="media-body">
    <div class="name">Promises in {{searchResultsTitle.municipality_name}}</div>
<!--
    <div class="muni">{{searchResultsTitle.municipality_name}}</div>
    <div class="party">{{searchResultsTitle.party_name}}</div>
-->
    
    <div class="promises"  ng-repeat="item in searchResults">
    
    <div class="cross-head">Promise {{$index + 1}}</div>
    <div class="meta"><span class="header">Mayor: </span> {{item.mayor_name}} </div>
    {{item.promise}}
    
    <div class="meta"><span class="header">Category: </span> {{item.category}} </div>
    <div class="meta"><span class="header">Promise date: </span> {{item.date_made}} </div>
    <div class="meta"><span class="header">Due date: </span> {{item.due_date}} </div>
    <div class="meta"><span class="header">Tracked: </span> {{item.tracked}} </div>
    <div class="meta" ng-if="item.tracked=='Yes'"><span class="header">Status: </span> {{item.status}} </div>
    
    </div>
    
    
  </div>
</div>
    
   
    
</div>


</div> <!-- End simpleSearch -->




<!--<div class="listBrowse"  ng-if="view.name=='browseList'">-->

